/target/classes/demo/Demo.class
/target/classes/tools/itext/FEExpense.class
/target/classes/tools/itext/FEExpenseDetailInfo.class
/target/classes/demo/FEInvoiceBillholder.class
/target/classes/functionalinterface/FunctionalInterfaceTest.class
/target/classes/lambda/LambdaDemo.class
/target/classes/localdate/LocalDateTest.class
/target/classes/map/MapTestJava8.class
/target/classes/stream/NewStream.class
/target/classes/NIO/NIOTest.class
/target/classes/tools/itext/Opinions.class
/target/classes/optional/OptionalTest.class
/target/classes/functionalinterface/Person.class
/target/classes/serializable/SerializableTest.class
/target/classes/singleton/SingletonEight.class
/target/classes/singleton/SingleTonFive$1.class
/target/classes/singleton/SingleTonFive$SingletonHolder.class
/target/classes/singleton/SingleTonFive.class
/target/classes/singleton/SingleTonFour.class
/target/classes/singleton/SingleTonOne.class
/target/classes/singleton/SingleTonSeven.class
/target/classes/singleton/SingleTonSix.class
/target/classes/singleton/SingleTonTest.class
/target/classes/singleton/SingleTonThree.class
/target/classes/singleton/SingleTonTwo.class
/target/classes/demo/Test.class
/target/classes/tools/thumbnailator/ThumbnailatorTest.class
/target/classes/optional/User.class
/target/classes/serializable/User.class
/target/classes/stream/User.class
/target/classes/functionalinterface/UseTest.class
